flows.json
[{"id":"1c7d4ab3.496d85","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99f6089d.c8e278","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false},{"id":"8047321a.595b5","type":"ui_group","z":"","name":"Intelligent Help Desk with SDU","tab":"99f6089d.c8e278","order":1,"disp":true,"width":11,"collapse":false},{"id":"aa548b4f.0a0768","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#800000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#800000","edited":true},"page-titlebar-backgroundColor":{"value":"#800000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#cc0000","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#800000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Intelligent Smart Desk with Smart Document Understanding","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f4f38627.8ec748","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":1,"width":1,"height":1},{"id":"3e321442.0363ec","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":3,"width":1,"height":1},{"id":"88c6185.92a0ae8","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":4,"width":1,"height":1},{"id":"be5b9912.0d9378","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":6,"width":1,"height":1},{"id":"6facc5b3.871ffc","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":7,"width":2,"height":1},{"id":"378a2dcd.c2a8e2","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":10,"width":1,"height":1},{"id":"530c6617.023878","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":11,"width":1,"height":1},{"id":"95e9ede3.493ee","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":12,"width":1,"height":1},{"id":"25698bc7.f35d34","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":13,"width":1,"height":1},{"id":"2f2e2340.2d0c7c","type":"ui_spacer","name":"spacer","group":"8047321a.595b5","order":14,"width":1,"height":1},{"id":"e4542058.6ade","type":"ui_form","z":"1c7d4ab3.496d85","name":"","label":"","group":"8047321a.595b5","order":2,"width":10,"height":2,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":240,"wires":[["2f8850b7.275b4"]]},{"id":"2f8850b7.275b4","type":"function","z":"1c7d4ab3.496d85","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["2da00243.aa2d2e","6588ea78.a917b4"]]},{"id":"4b01a46a.74b52c","type":"function","z":"1c7d4ab3.496d85","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["71b1c843.98eaa8","49939a8f.d9b394"]]},{"id":"2da00243.aa2d2e","type":"watson-conversation-v1","z":"1c7d4ab3.496d85","name":"Customer Care","workspaceid":"0be554f9-ccbc-495e-b9b4-2afc1a7e582a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/020e3d04-eed4-4ebc-8d98-2ed4b377d08a","timeout":"","optout-learning":false,"x":520,"y":140,"wires":[["b51167fb.558198","4b01a46a.74b52c"]]},{"id":"6588ea78.a917b4","type":"ui_text","z":"1c7d4ab3.496d85","group":"8047321a.595b5","order":8,"width":9,"height":1,"name":"","label":"You: ","format":"{{msg.payload}}","layout":"row-right","x":490,"y":340,"wires":[]},{"id":"b51167fb.558198","type":"debug","z":"1c7d4ab3.496d85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":40,"wires":[]},{"id":"71b1c843.98eaa8","type":"ui_text","z":"1c7d4ab3.496d85","group":"8047321a.595b5","order":9,"width":10,"height":5,"name":"","label":"Bot: ","format":"{{msg.payload}}","layout":"row-left","x":850,"y":340,"wires":[]},{"id":"49939a8f.d9b394","type":"ui_audio","z":"1c7d4ab3.496d85","name":"","group":"8047321a.595b5","voice":"en-GB","always":"","x":860,"y":140,"wires":[]},{"id":"e601da77.25f688","type":"ui_button","z":"1c7d4ab3.496d85","name":"","group":"8047321a.595b5","order":5,"width":9,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"    ","payloadType":"str","topic":"","x":270,"y":440,"wires":[["6588ea78.a917b4","71b1c843.98eaa8"]]}]
